{% extends "portfolio/template.html" %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/blogs.css' %}">
{% endblock %}

{% block body %}
<img class="centered-bg-gradient" src="{% static 'portfolio/images/gradient.png' %}">
<div class="container p-5 d-flex justify-content-center">
    <div class="featured-post row">
        <div class="img-col col">
            <img src="{% static 'portfolio/blogs/ckpLKgOsnImXXOyoQZFRrcbnXNMRvz.jpg' %}">
        </div>
        <div class="content-col col-auto p-2">
            <p class="fs-3 fw-bold">Upgrading to CUCM 14.0</p>
        </div>
    </div>
</div>
{% endblock %}