:root {
    --bg: rgb(0, 0, 0);
    --color: rgb(232, 230, 222);
    --oposite-color: #232526;
    --blue: rgba(30, 62, 186, 0.618);
    --secondary: rgb(30, 30, 30);
    --thirdary: rgb(40, 40, 40);
    --light-black: transparent;
    --gradient-1: linear-gradient(to top, #bb9a9c, var(--golden));
}

.example-images {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 5px;
    max-height: 900px;
    filter: blur(5px);
    opacity: 30%;
    height: 35%;
}